server:
  port: 8080

spring:
  application:
    name: library-management-system
  
  datasource:
    url: jdbc:postgresql://${POSTGRES_HOST:localhost}:${POSTGRES_PORT:5432}/${POSTGRES_DB:library}
    username: ${POSTGRES_USER:postgres}
    password: ${POSTGRES_PASSWORD:password}
    driver-class-name: org.postgresql.Driver
  
  jpa:
    hibernate:
      ddl-auto: none
    show-sql: false
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
        format_sql: true
    open-in-view: false

app:
  jwt:
    secret: ${JWT_SECRET:myVerySecretKeyForJWTTokenGeneration123456789}
    expiration: ${JWT_EXPIRATION:86400} # 24 hours in seconds

logging:
  level:
    com.library: DEBUG
    org.springframework.security: DEBUG