server:
  port: 8080

spring:
  application:
    name: library-management-system
  
  datasource:
    url: jdbc:mysql://${MYSQL_HOST:localhost}:${MYSQL_PORT:3306}/${MYSQL_DB:library}?useUnicode=true&characterEncoding=utf8&serverTimezone=UTC
    username: ${MYSQL_USER:library}
    password: ${MYSQL_PASSWORD:library}
    driver-class-name: com.mysql.cj.jdbc.Driver
  
  jpa:
    hibernate:
      ddl-auto: none
    show-sql: false
    properties:
      hibernate:
        dialect: org.hibernate.dialect.MySQL8Dialect
        format_sql: true
    open-in-view: false

app:
  jwt:
    secret: ${JWT_SECRET:myVerySecretKeyForJWTTokenGeneration123456789}
    expiration: ${JWT_EXPIRATION:86400} # 24 hours in seconds

logging:
  level:
    com.library: DEBUG
    org.springframework.security: DEBUG